# remove aux files
*.aux

# remove fdb_latexmk
*.fdb_latexmk

# remove fls
*.fls

# remove log
*.log

# remove pdf
*.pdf

# remove synctex(busy)
*.synctex(busy)

# remove synctex.gz
*.synctex.gz

# remove bbl
*.bbl

# remove blg 
*.blg